.header {
  background-color: #163A24;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__item {
  margin-right: 30px;
  transition: all ease 0.8s;
}

.header__item a:hover {
  color: red;
}

.header__item:nth-child(3) {
  padding: 12px 35px;
  border: 2px solid #198C36;
  border-radius: 35px;
  background-color: #198C36;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__item:nth-child(3):hover {
  background-color: red;
}

.header__item:nth-child(3) a:hover {
  color: #163A24;
}

.hero {
  background-color: #163A24;
  padding-top: 20px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.hero__img {
  margin-left: 100px;
}

.hero__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #FBFAF7;
}

.hero__text {
  font-size: 16px;
  color: #FBFAF7;
  font-weight: 400;
  margin-top: 20px;
  line-height: 25px;
}

.hr {
  background-color: #E5E5E5;
}

.hr__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.hr__subtitle {
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
}

.hr__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}

.hr__title {
  font-size: 50px;
  font-weight: 700;
  margin-left: 250px;
  margin-top: 118px;
  margin-bottom: 66px;
}

.hr__partner {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin-left: 70px;
  padding-top: 65px;
  padding-bottom: 130px;
}

.product {
  background-color: #163A24;
}

.product__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 100px 40px;
}

.product__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  list-style: none;
  color: white;
  margin-top: 80px;
  text-align: center;
}

.product__title {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.product__text {
  font-size: 17px;
  margin-bottom: 5px;
}

.product__item img {
  margin-bottom: 15px;
}

.humans {
  background-color: #F2EFE6;
}

.humans__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.humans__title {
  text-align: center;
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  padding-top: 120px;
  margin-bottom: 40px;
}

.humans__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.humans__pic {
  padding-bottom: 160px;
}

.worker {
  background-color: #fff;
}

.worker__inner {
  padding-top: 160px;
  padding-bottom: 100px;
}

.worker__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.worker__title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 40px;
}

.worker__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.info {
  margin-top: 122px;
  margin-bottom: 120px;
}

.info__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  color: #163A24;
  margin-bottom: 26px;
}

.info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
  margin-bottom: 18px;
}

.info__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info__item {
  margin-left: 40px;
  transition: all ease 0.8s;
  margin-bottom: 40px;
}

.cards__box {
  min-width: 353px;
  min-height: 393px;
  padding: 50px 49px;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 20px #E9E4D5;
  transition: all ease 2s;
  cursor: pointer;
}

.cards__box:hover {
  background-color: #fff;
  transform: scale(110%);
}

.info__img {
  width: 45px;
  height: 55px;
  margin-bottom: 20px;
}

.card__sub {
  font-size: 28px;
  line-height: 31px;
  font-weight: 600;
  width: 301px;
  margin-bottom: 23px;
}

.text__list {
  list-style-type: disc;
}
.text__list li {
  margin-bottom: 15px;
}

.card__text {
  font-size: 16px;
  line-height: 21px;
  color: #163A24;
}

.price {
  background-color: #F2EFE6;
  padding-bottom: 120px;
}

.price__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.price__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  text-align: center;
  list-style: none;
}

.price__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  padding-top: 110px;
  margin-bottom: 25px;
}

.price__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 55px;
}

.price__item--text {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.price__item--subtitle {
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
}

.price__link {
  padding: 15px 25px;
  background-color: #198C36;
  border-radius: 80px;
  color: #FBFAF7;
  transition: all ease 0.8s;
}

.price__link:hover {
  background-color: #FBC8B8;
  color: black;
}

.book {
  background-color: white;
}

.book__inner {
  padding: 50px 20px;
}

.book__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.book__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 20px;
}

.book__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

.book__link {
  background-color: #198C36;
  padding: 15px 25px;
  border-radius: 40px;
  color: #FBFAF7;
  transition: all ease 0.8s;
}

.book__link:hover {
  background-color: #F7BC28;
  color: #198C36;
}

.start {
  background-color: #163A24;
  background-image: url(../../img/bgimage_right.png), url(../../img/bgiimage_left.png);
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  max-height: 450px;
}

.start__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 110px 60px;
}

.start__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  color: white;
  margin-bottom: 24px;
}

.start__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-bottom: 22px;
}

.start__link {
  background-color: #FAB5A0;
  padding: 15px 25px;
  border-radius: 40px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  transition: ease 0.8s;
}

.start__link:hover {
  background-color: rgba(0, 255, 255, 0.488);
  color: #FAB5A0;
}

.account {
  background-color: #F2EFE6;
}

.account__inner {
  padding: 80px 40px;
}

.account__lits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.account__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 35px;
}

.account__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.account__inp {
  background-color: white;
  width: 550px;
  height: 50px;
  border-radius: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.account__email {
  width: 520px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: none;
  outline: none;
}

.account__link {
  position: absolute;
  padding: 12px 33px;
  border-radius: 35px;
  background-color: #15762E;
  transition: all ease 0.8s;
  right: -30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

.account__link:hover {
  background-color: #FAB5A0;
  color: #15762E;
}

.account__item--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}

.account__text--link {
  color: #198C36;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.footer {
  padding: 40px 60px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  list-style: none;
  margin-bottom: 50px;
}

.footer__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 65px;
}

.footer__item img {
  margin-left: 10px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.footer__info a {
  color: #198C36;
  margin-left: 14px;
  transition: all ease 1s;
}

.footer__item--info {
  margin-top: 44px;
}

.footer__info a:hover {
  color: #FAB5A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */