.account{
    background-color:#F2EFE6;
}
.account__inner{
    padding: 80px 40px;
}
.account__lits{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.account__title{
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 35px;
}
.account__text{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.account__inp{
    background-color: white;
    width: 550px;
    height: 50px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}
.account__email{
    width: 520px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    outline: none;
}
.account__link{
    position: absolute;
    padding: 12px 33px;
    border-radius: 35px;
    background-color:#15762E;
    transition: all ease 0.8s;
    right: -30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}
.account__link:hover{
    background-color: #FAB5A0;
    color: #15762E;
}
.account__item--text{
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
}
.account__text--link{
    color:#198C36;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}