
.footer{
    padding: 40px 60px;
}


.footer__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.footer__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    list-style: none;
    margin-bottom: 50px;
}


.footer__title{
    font-size: 25px;
    font-weight: 700;
    line-height: 65px;
}


.footer__item img{
    margin-left: 10px;
}


.footer__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


.footer__info a{
    color:#198C36;
    margin-left: 14px;
    transition: all ease 1s;
}

.footer__item--info{
    margin-top: 44px;
}


.footer__info a:hover{
    color: #FAB5A0;
}
